body {
    font-family: Arial, sans-serif;
    background-image: url('https://img.freepik.com/free-vector/rainbow-background-desktop-wallpaper-cute-vector_53876-136881.jpg'); /* Kiddie theme background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f9f9f9; /* Fallback background color */
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background: linear-gradient(to right, #ff9aa2, #ffb7b2, #ffdac1, #e2f0cb, #b5ead7, #c7ceea); /* Pastel Rainbow Gradient */
    color: white;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust the space between links */
}
nav ul li {
    display: inline;
}
nav ul li a {
    color: #ff0000; /* Change to a more visible color, like red */
    text-decoration: none;
    font-weight: bold;
}
main {
    padding: 20px;
}
h1, h2, h3 {
    color: #ff6f61; /* Change color to a bright color */
}
h1 {
    color: #ff6f61;
}
h2 {
    color: #6a5acd;
}
h3 {
    color: #ffa07a;
}
p {
    color: #48d1cc;
}
.character h3 {
    color: #da70d6;
}
.orange-font {
    color: orange; /* Adding orange color for Tigtig and Hambrug */
}
.yellow-font {
    color: yellow; /* Adding yellow color for Tigtig's description, Bananie, and Hambrug's description */
}
.blue-font {
    color: blue; /* Adding blue color for Sami and Fishie */
}
.cyan-font {
    color: cyan; /* Adding cyan color for Kitty */
}
.red-font {
    color: red; /* Adding red color for Pandie */
}
.green-font {
    color: green; /* Adding green color for Pandie's description */
}
.pink-neon {
    color: #FF69B4; /* Neon pink color without glow */
}
.spotify-player {
    opacity: 0.7; /* Adjust the opacity for transparency */
    width: 70%; /* Adjust width for responsiveness */
    max-width: 300px;
    height: 70px;
}
.intro img, .favorites img {
    max-width: 100%;
    height: auto;
}
.favorites {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.character {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
form {
    display: flex;
    flex-direction: column;
}
form label {
    margin-top: 10px;
}
form input, form textarea, form button {
    margin-top: 5px;
    padding: 10px;
    font-size: 16px;
}
